AQUALOG_API_BASE_URL='https://api.aqualog.home.cylindric.net'
AQUALOG_OAUTH_ISSUER_URL='https://auth.aqualog.home.cylindric.net:8443/application/o/aqualog-spa/'
AQUALOG_OAUTH_CLIENT_ID='replace-with-your-client-id'
AQUALOG_OIDC_REDIRECT_URI='https://aqualog.home.cylindric.net/auth/callback'
AQUALOG_OIDC_POST_LOGOUT_REDIRECT_URI='https://aqualog.home.cylindric.net'
AQUALOG_OAUTH_SCOPE='openid profile email offline_access'

AQUALOG_APP_ENV='dev'
CA_BUNDLE='/etc/ssl/certs/ca-certificates.crt'
