VITE_API_BASE_URL='https://api.aqualog.home.cylindric.net'
VITE_OIDC_AUTHORITY='https://auth.aqualog.home.cylindric.net:8443/application/o/aqualog-spa/'
VITE_OIDC_CLIENT_ID='replace-with-your-client-id'
VITE_OIDC_REDIRECT_URI='https://aqualog.home.cylindric.net/auth/callback'
VITE_OIDC_POST_LOGOUT_REDIRECT_URI='https://aqualog.home.cylindric.net'
VITE_OIDC_SCOPE='openid profile email offline_access'

AQUALOG_APP_ENV='dev'
CA_BUNDLE='/etc/ssl/certs/ca-certificates.crt'
